@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 1024px) {
.keen-slider__slide {
  min-width: 200px !important;
    max-width: 200px !important;
    height: 270px !important;
    /* min-height: 270px !important;
    max-height: 270px !important; */
}
}

@media (min-width: 1280px) {
  .keen-slider__slide {
    min-width: 300px !important;
      max-width: 300px !important;
      transform: translate3d(1px, 0px, 0px);
      width: auto;
       margin-right: 10px;
       margin-left: 10px;
     

  }

  .keen-slider {
    width: auto !important;
    /* display: flex !important;
    justify-content: space-between !important; */
    overflow: hidden;
  }

}



/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.product-background {
  background-color: 'white';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
